# using firebase cloud
# NEXT_PUBLIC_USE_FIREBASE_EMULATOR=false
# NEXT_PUBLIC_FIREBASE_API_KEY=xxx
# NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=xxx
# NEXT_PUBLIC_FIREBASE_DATABASE_URL=xxx
# NEXT_PUBLIC_FIREBASE_PROJECTID=xxx

# using firebase emulator
NEXT_PUBLIC_USE_FIREBASE_EMULATOR=true
NEXT_PUBLIC_FIREBASE_API_KEY=dummy-api-key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=localhost
NEXT_PUBLIC_FIREBASE_DATABASE_URL=http://localhost:9001?ns=demo-firebase
NEXT_PUBLIC_FIREBASE_PROJECTID=demo-firebase


NEXT_PUBLIC_API_BASE_URL=http://localhost:3001/api