# for firebase emulator
USE_FIREBASE_EMULATOR=true
FIREBASE_AUTH_URL=http://localhost:9099/identitytoolkit.googleapis.com/v1
FIREBASE_AUTH_EMULATOR_HOST=localhost:9099
FIREBASE_STORE_HOST=localhost:8081
FIREBASE_API_KEY=dummy-api-key


# for firebase cloud
# USE_FIREBASE_EMULATOR=false
# FIREBASE_PROJECT_ID=your-project-id
# FIREBASE_CLIENT_EMAIL=xxx
# FIREBASE_PRIVATE_KEY="xxx oneline private key"
# FIREBASE_API_KEY=xxx
# FIREBASE_AUTH_URL=https://identitytoolkit.googleapis.com/v1

PORT=3001